@charset "utf-8";
#content{
    background-color: #DDE4ED;
    background-image: url("../images/banner-pc.jpg"),
                      url("../images/background.jpg");
    background-repeat: no-repeat,repeat-y;
    background-position: center 47px;
}
@media (max-width:768px){#content{background:#dee6ee}}
.blue{color: #2d56b1}
.red, em {color: #e41f2b}
.act-banner-pc{
	padding-top: 105px;
	text-align: left;
}
.act-banner-caption{
	font-size: 56px;
	line-height: 70px;
}
.act-banner-summary{
	font-size: 24px;
	line-height: 36px;
}
.act-banner-summary>em:nth-child(1){
	margin-right: 10px;
}
.switch-content{
	background: url(../images/bground.jpg) no-repeat;
	background-color: #F8EBDB;
}
.act-switch{
	overflow: hidden;
}
.act-switch-padding{
    margin: 0 auto;
    margin-bottom: 50px;
}
.act-conf{
	border:1px solid #F5E5E6;
}
.act-h1{
	font-weight: bold;
}
.act-switch>ul>li{
	position:relative;
	display: inline-block;
	padding: 15px 15px;
	background-color: #FFFFFF;
	cursor: pointer;
	font-size: 18px;
	color: #333;
	border-top-left-radius: 5px;
	border-top-right-radius: 8px;
	width: 250px;
}
.act-switch>ul>li:nth-child(1){
	border-top-left-radius: 5px;
	border-top-right-radius: 8px;
	margin-right: -4px;
}
.act-switch>ul>li:nth-child(3){
	border-top-right-radius: 5px;
}
.act-switch>ul>li>span{
	font-size: 14px;
}
.act-switch>ul{
	text-align: center;
	overflow: hidden;
	width: 750px;
    margin: 0 auto;
    background: #ffffff;
    border-top-left-radius: 5px;
	border-top-right-radius: 5px;
}
.act-active~li{}
.li-middle{
	margin-left: 1px;
	margin-right: -5px;
}
.li-middle:before{
	content: "";
	width: 2px;
	height: 30px;
	background-color: #FC604A;
	position: absolute;
    left: -1px;
}
.li-middle:after{
	content: "";
	display: inline-block;
	width: 2px;
	height: 30px;
	background-color: #FC604A;
	position: absolute;
    right: 1px;
}
.act-active{
	background-color: #FC604A !important;
	color: #FFFFFF !important;
}
.act-switch-h2{
	margin-bottom: 5px;
}
.act-switch-padding{
	padding-top: 20px;
}
.switch-content{
	padding-bottom: 70px;
	padding-top: 60px;
}
.act-conf{
	overflow: hidden;
	text-align: center;
	background-color: #FFFFFF;
	box-shadow: 1px 1px 5px #ffcccf;
	height: 426px;
}
.act-conf1{
	position: relative;
}
.act-conf1:after{
	content: "";
	display: inline-block;
	width: 1px;
	height: 300px;
	background-color: #EEEEEE;
	border:1px dotted #EEEEEE;
	position: absolute;
	top: 77px;
	right: 0px;
}
.act-conf>div{
	display: inline-block;
	float: left;
	padding: 30px;
	width: 33.3333333333%;
}
.act-conf3{
	background-color: #F9F9F9 !important;
}
.model-selection{
	border: 1px solid #ddd;
	cursor: pointer;
	width: 70%;
    margin: 0 auto;
    text-align: left;
    padding-left: 20px;
    padding-top: 3px;
    padding-bottom: 3px; 
}
.act-selected{
	background: url(../images/selected.png) no-repeat;
	background-position: right bottom;
	border:1px solid #E41F2B;
}
.act-sel{
	height: 35px;
}
.model-selection+.model-selection{
	margin-top: 15px;
}
.user-center{
	width:166px ;
	height: 32px;
	background-color: #E41F2B;
	line-height: 32px;
	color: #FFFFFF;
	margin-bottom: 30px !important;
    margin-top: 18px !important;
}
.user-center,.p-text{
	text-align: center;
	margin: 0 auto;
}
.p-text{
	background: #FFFFFF;
	border-radius: 5px;
	width:500px ;
	height: 24px;
	line-height: 24px;
}
.p-text:before{
	content: "";
	width: 16px;
	height: 16px;
	display: inline-block;
	background-image: url(../images/tip.png?sttl=0817007);
	position: relative;
    top: 3px;
}
.text-large{
	font-size: 24px;
	color: #333333;
	letter-spacing: 0;
}
.text-small{
	font-size: 14px;
	color: #666666;
}
.content2,.content3{
	display: none;
}
.select-relative {
    position: relative;
    width: 110px;
    left: 135px;
    bottom: 23px;
}
.gift{
	display: inline-block;
	position: relative;
	top: 5px;
	margin: 0 10px;
	width: 39px;
	height: 44px;
	background: url(gift.png) no-repeat center;
	background-size: 100% 100%;
}
.star{
	display: inline-block;
	position: relative;
	top: 5px;
	margin: 0 10px;
	width: 39px;
	height: 44px;
	background: url(star.png) no-repeat center;
	background-size: 100% 100%;
}
.act-ticket{
	text-align: center;
	margin-top: 12px;
}
.s-red{
	background-color: #E41F2B;
	display: inline-block;
	width: 38px;
	height: 16px;
	font-size: 14px;
	line-height: 16px;
	color: #FFFFFF;
	margin-right: 10px;
}
.img-tip{
	position: relative;
    top: 3px;
}
.act-present{
	background-color: #E41F2B;
	display: inline-block;
	color: #FFFFFF;
	padding: 0px 2px;
	font-size: 12px!important;
	position: relative;
    top: -4px;
    margin-left: 2px;
}
.em-small{
	position: relative;
    top: -2px;
	font-size: 16px;
	font-weight: bold;
}
.act-with-h2{
	margin-bottom: 30px;
}
.act-conf1>p,.act-conf2>p,.act-conf3>p{
	font-size: 16px;
	font-weight: bold;
	margin-bottom: 20px;
}
.blue{
	margin-left: 20px;
	cursor: pointer;
}
.blue1{
	color: #2d56b1;
}
.p-texing{
	padding: 0 20px;
}
.act-switch-h2{
	font-size: 16px;
}
.text-left{
	width: 30%;
	height: 58px;
}
.text-left>p{
	height: 29px;
	line-height: 29px;
	text-align: left;
	padding-left: 20px;
}
.text-info{
	text-align: left;
	margin-top: -10px;
	margin-bottom: 15px;
}
.text-info>p{
	padding-left: 50px;
	padding-top: 10px;
    padding-bottom: 6px;
}
.month{
	margin-left: 63px;
}
.act-free{
	position: relative;
    top: 18px;
    right: 42px;
}
.act-btn-buy {
    width: 176px;
    height: 36px;
    line-height: 36px;
}
.act-btn-red {
    display: inline-block;
    text-align: center;
    color: #fff;
    background-color: #e41f2b;
    cursor: pointer;
    margin-top: 15px;
}
.act-btn-red:hover {
    background-color: #f24651;
}
.p-large{
	font-size: 34px;
	color: #E41F2B;
}
.text-infos{
	margin-top: 4px;
	padding-top: 30px;
    border-top: 1px dotted #EAEAEA;
    padding-bottom: 18px;
}
.modal-num{
	height: 88px;
}
.bg-img{
	background: url(../images/zhekou.png) no-repeat center;
	width: 72px;
	height: 20px;
	display: inline-block;
	color: #FFFFFF;
	position: relative;
    top: -1px;
    font-size: 12px;
}
#rule1,#rule2{
	width: 760px;
	max-width:100%;
	max-height: 100%;
}
.tip-text{
	padding-left: 20px;
}
.original-price{
	text-decoration: line-through;
}
.img-pos{
	position:relative;
	padding-top: 60px;
}
.s1{
	position:absolute;
	top: 40px;
    left: 151px;
}
.s2{
	position:absolute;
	top: 137px;
    left: 263px;
}
.s3{
	position:absolute;
	top: 243px;
    left: 152px;
}
.s4{
	position:absolute;
	top: 135px;
    left: 37px;
}
.rumen-pc-2,.rumen-pc-3{
	display: none;
}
.ty-pc-2,.ty-pc-3,.ty-pc-4{
	display: none;
}
.th-pc-2,.th-pc-3,.th-pc-4,.th-pc-5{
	display: none;
}
.act-package{
	position: relative;
	top: 15px;
	z-index: -1;
}
.act-conf3-padding{
	padding-bottom: 75px !important;
}
.act-conf3-paddings{
	padding-bottom: 100px !important;
}
.select-relative{
	position: relative;
	height: 24px;
}
.select{
	position: absolute;
	width: 150px !important;
    min-height: 26px !important;
	top: 0;
	font-size: 14px;
	color: #333;
	line-height: 22px;
	border: 1px solid #ccc;
	background-color: #fff;
	cursor: pointer;
	-webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none;
}
.center_activity{
	z-index: 9;
	text-align: left;
    padding-left: 11px;
}
.win_activity{
	z-index: 8;
	text-align: left;
    padding-left: 11px;
}
.select:hover{
	border-color: #999;
}
.select.active{
	border-color: #E41F2B;
}
.select:after{
	content: "";
	position: absolute;
	top: 9px;
	right: 5px;
	border-width: 4px;
	border-style: solid;
	border-color: #777 rgba(0,0,0,0) rgba(0,0,0,0) rgba(0,0,0,0);
}
.value{
	width: 103px;
	margin-left: -4px;
	display: none;
}
.value li{
	padding-left: 4px;
}
.value li:hover{
	background-color: #F0F0F0;
	color: #E41F2B;
}
.value li.click{
	color: #fff;
	background-color: #E41F2B;
}
.act-node{
	display: table-cell;
	position: relative;
    left: 50px;
}
.act-block-mb{
	display: none;
}
@media (max-width: 1199px){
	
}
.act-register-mb{
	display: none;
}
@media (max-width: 768px){
	.top-sidebar{
		display: none !important;
	}
	.act-switch>ul{
		display: none;
	}
	.switch-content {
	    background: none;
	    background-color: #dee6ee;
	    display: none;
	}
	.act-block-mb{
		display: block !important;
	}
	.act-banner-padding{
		margin-bottom: 30px;
	}
	.act-switch{
		display: none;
	}
	.act-img{
		background: url(../images/title-mb.png) no-repeat center;
		position: relative;
		background-size: 100% 90%;
	    width: 90%;
	    height: 60px;
	    margin: 0 auto;
	    margin-bottom: 30px;
	    max-width: 100%;
	}
	.act-img>p{
		position: absolute;
	    top: 15px;
	    font-size: 28px;
	    color: #ffffff;
	}
	.act-time{
		font-size: 24px;
		color: #FFFFFF;
	}
	.act-imgs{
		background: url(../images/big-bg-mb.png) no-repeat center;
		width: 90%;
		margin: 0 auto;
		padding-bottom: 1px;
	}
	.act-top{
		padding-top: 45px;
		padding-left: 95px;
		margin-bottom: 30px;
		padding-right: 95px;
	}
	.act-bottom{
		margin: 10px;
		background-color: #FFFFFF;
	}
	.act-sel-mb{
		padding: 30px;
	}
	.act-sel-mb>div>span{
		font-size: 18px;
		color: #666666;
	}
	.act-nodes{
		margin-right: 30px;
	}
	.act-nodes~span{
		border: 1px solid #CCCCCC;
		padding: 5px 0px;
		width: 170px;
		display: inline-block;
		text-align: center;
	}
	.sel-first~div{
		margin-top: 20px;
	}
	.act-top>div{
		height: 80px;
		max-width: 100%;
		border: 1px solid #FFFFFF;
		text-align: center;
		line-height: 80px;
	}
	.act-top>div:nth-child(1)~div{
		margin-top: 30px;
	}
	.p-texts{
		font-size: 30px;
		color: #FFFFFF;
		
	}
	.p-texts>em{
		font-size: 24px;
		color: #FFFFFF;
		margin-left: 10px;
	}
	.register-mb{
		width: 100%;
		max-width: 100%;
		height: auto;
	}
	.act-register-mb{
		margin-bottom: -6px;
	}
	.act-register-mb{
		display: block;
	}
}
@media (max-width: 768px) {
	.wrap-mb{
		overflow: hidden;
		margin-top: 20px;
	}
	.meal-compute{
		padding: 30px 40px;
		text-align: center;
		background-color: #FFFFFF;
		margin: 10px;
		overflow: hidden;
	}
	.meal-compute-class{
		float: left;
		line-height: 32px;
	}
	.meal-compute-class+.meal-compute-class{
		margin-top: 16px;
	}
	.meal-compute-class>h5{
		display: inline-block;
		float: left;
		width: 70px;
		height: 32px;
		color: #333;
		line-height: 34px;
		text-align: left;
	}
	.meal-compute-parameter{
		float: left;
		width: 360px;
	}
	.meal-compute-parameter li{
		float: left;
		width: 33.333333%;
		height: 32px;
		color: #333;
		border: 1px solid #ccc;
		background-color: #fff;
		cursor: pointer;
	}
	.meal-compute-parameter li+li{
		border-left: none;
	}
	.meal-compute-parameter li.active{
		color: #fff;
		border: 1px solid #dd2728;
		background-color: #dd2728;
	}
	.meal-compute-bottom{
		float: left;
		width: 100%;
		padding-top: 30px;
		margin-top: 20px;
		border-top: 1px dashed #dfdfdf;
	}
	.meal-compute .price{
		position: relative;
		float: left;
		font-size: 0;
		text-align: left;
	}
	.meal-compute .price .price-tip{
		position: absolute;
		width: 42px;
		height: 20px;
		top: -10px;
		color: #fff;
		font-size: 12px;
		line-height: 16px;
		text-align: center;
		background: url("../images/zhekou-mb.png") 0 0 no-repeat;
		background-size: contain;
	}
	.meal-compute .price span{
		display: inline-block;
	}
	.meal-compute .price .price-title{
		color: #666;
		font-size: 14px;
		line-height: 22px;
		vertical-align: bottom;
	}
	.meal-compute .price .price-unit{
		margin: 0 5px;
		font-size: 26px;
		line-height: 30px;
		vertical-align: bottom;
	}
	.meal-compute .price .price-value{
		font-size: 36px;
		font-weight: bold;
		line-height: 36px;
		vertical-align: bottom;
	}
	.meal-compute .price .original{
		color: #666;
		font-size: 14px;
		text-decoration: line-through;
	}
}
@media (min-width: 320px) and (max-width: 420px) {
	.p-texts {
	    font-size: 26px;
	}
	.act-top {
		padding: 25px 15px 30px 15px;
		margin-bottom: -20px;
	}
	.act-img>p {
	    font-size: 16px;
	    text-align: center;
	    position: relative;
	    top: 22px;
	}
	.act-time {
	    font-size: 14px;
	}
	.p-textss {
	    font-size: 26px !important;
	}
	.act-give{
		font-size: 14px !important;
	}
	.act-gives{
		font-size: 12px !important;
		margin-left: -3px !important;
		margin-right: -9px;
		padding: 2px;
		background-color: #E41F2B;
	}
	.act-gives+em{
		font-size: 12px !important;
	}
	.p-texts>em{
		font-size: 16px;
	}
	.act-top>div{
		height: 60px;
		line-height: 60px;
	}
	.meal-compute {
	    padding: 20px 15px;
	}
	.meal-compute-parameter {
	    width: 72%;
	}
	.h2-mb{
		margin-bottom: 20px;
	}
	.blue{
		display: block;
	}
	.act-switch-h2 {
	    font-size: 18px;
	    line-height: 1.5;
	}
	.act-img{
		width: 95%;
		margin-bottom: 15px;
	}
	.act-imgs{
		width: 95%;
	}
	.meal-compute-class{
		width: 100%;
	}
	.meal-compute .price .price-value{
		font-size: 24px;
	}
	.meal-compute .price .price-unit{
		font-size: 22px;
	}
	.act-btn-red{
		width: 110px !important;
		float: right;
	}
	.act-top>div:nth-child(1)~div{
		margin-top: 20px;
	}
	.meal-compute{
		height: auto;
	}
	.gift-mb {
	    margin-left: 10px !important;
	    margin-right: 10px !important;
	}
	.center_activity,.win_activity{
		padding-left: 0px;
	}
	.act-know{
		float: left;
	}
	.rule-body{
		height: calc(100vh - 251px) !important;
  		overflow-y: scroll;
	} 
}
@media (min-width: 411px) and (max-width: 414px) {
	.rule-body{
		height: calc(100vh - 504px) !important;
  		overflow-y: scroll;
	}
}
@media (max-width: 320px){
	.p-texts {
	    font-size: 20px;
	}
	.meal-summary-card span{
		font-size: 18px;
	}
	.act-top {
		padding: 25px 15px 30px 15px;
		margin-bottom: -20px;
	}
	.act-img>p {
	    top: 23px;
	    font-size: 16px;
	    color: #ffffff;
	}
	.act-time {
	    font-size: 14px;
	}
	.p-texts>em{
		font-size: 16px;
	}
	.act-top>div{
		height: 60px;
		line-height: 60px;
	}
	.meal-compute {
	    padding: 20px 15px;
	}
	.meal-compute-parameter{
		width: 184px;
	}
	.h2-mb{
		margin-bottom: 20px;
	}
	.blue{
		display: block;
	}
	.act-switch-h2 {
	    font-size: 18px;
	    line-height: 1.5;
	}
	.act-img{
		width: 95%;
		margin-bottom: 15px;
	}
	.act-imgs{
		width: 95%;
	}
	.meal-compute-class{
		width: 100%;
	}
	.meal-compute .price .price-value{
		font-size: 24px;
	}
	.meal-compute .price .price-unit{
		font-size: 22px;
	}
	.act-btn-red{
		width: 110px !important;
		float: right;
	}
	.act-top>div:nth-child(1)~div{
		margin-top: 20px;
	}
	.meal-compute{
		height: auto;
	}
	.p-textss {
	    font-size: 20px !important;
	}
	.act-give{
		font-size: 14px !important;
	}
	.act-gives{
		font-size: 12px !important;
		padding: 2px;
		background-color: #E41F2B;
	}
	.act-gives+em{
		font-size: 14px;
	}
	.act-know{
		float: left;
	}
}
@media (min-width: 360px) and (max-width: 375px) {
	.rule-body{
		height: calc(100vh - 411px) !important;
  		overflow-y: scroll;
	}
}
@media (min-width: 420px) and (max-width: 600px) {
	.p-texts {
	    font-size: 22px;
	}
	.center_activity,.win_activity{
		padding-left: 0px;
	}
	.act-img>p {
	    font-size: 20px;
	    text-align: center;
	    position: relative;
	    top: 19px;
	}
	.act-top {
	    padding-top: 25px;
	    padding-left: 20px;
	    padding-right: 20px;
	}
	.act-img,.act-imgs{
		width: 95%;
	}
	.act-top>div{
		height: 60px;
		line-height: 60px;
	}
	.act-time {
	    font-size: 18px;
	}
	.p-texts {
	    font-size: 26px;
	}
	.p-texts>em {
	    font-size: 22px;
	}
	.act-top>div:nth-child(1)~div{
		margin-top: 20px;
	}
	.meal-compute {
	    height: auto;
	    padding: 20px 22px;
	}
	.meal-compute-class{
		width: 100%;
	}
	.meal-compute-parameter{
		width: 79%;
	}
	.gift-mb {
	    margin-left: 10px !important;
	    margin-right: 10px !important;
	}
	.p-textss {
	    font-size: 26px !important;
	}
	.act-give{
		font-size: 16px !important;
	}
	.act-gives{
		font-size: 12px !important;
		margin-left: 5px !important;
		padding: 2px;
		background-color: #E41F2B;
	}
	.act-gives+em{
		font-size: 14px !important;
	}
}
.act-btn-red {
    display: inline-block;
    text-align: center;
    color: #fff;
    background-color: #e41f2b;
    cursor: pointer;
    width: 176px;
    height: 36px;
    line-height: 36px;
}
.act-block-gift{
	display: none;
}
@media (max-width: 768px) {
	.act-gift{
		display: inline-block;
		position: relative;
		top: 5px;
		margin: 0 10px;
		width: 39px;
		height: 44px;
		background: url(../images/act-gift.png) no-repeat center;
		background-size: 100% 100%;
	}
	.act-ticket-mb>img{
		max-width: 100%;
		height: auto;
		display: block;
		margin: 0 auto;
	}
	.img-mb~img{
		margin-top: 20px;
	}
	.p-text-mb{
		width: 91%;
		margin: 0 auto;
	}
	.p-text-mb:before{
		content: "";
		width: 16px;
		height: 16px;
		display: inline-block;
		background-image: url(../images/tip.png?sttl=0817007);
		position: relative;
	    top: 3px;
	}
	.gift-mb{
		background-color: #FFFFFF;
		margin-left: 15px;
    	margin-right: 15px;
    	padding-top: 20px;
    	padding-bottom: 20px;
	}
	.act-block-gift{
		display: block;
	}
	.act-top>div{
		background-color: #FB7D67;
	}
}
.meal-compute-parameter>li{
	text-align: center;
}
@media (min-width: 600px) and (max-width: 768px) {
	.p-texts {
	    font-size: 26px;
	}
	.center_activity,.win_activity{
		padding-left: 0px;
	}
	.act-img>p {
	    font-size: 20px;
	    text-align: center;
	    position: relative;
	    top: 20px;
	}
	.gift-mb {
	    margin-left: 30px;
	    margin-right: 30px;
	}
	.act-ticket-mb>img {
	    width: 93%;
	}
	.meal-compute-parameter{
		width: 84%;
	}
	.p-textss {
	    font-size: 26px !important;
	}
	.act-give{
		font-size: 16px !important;
	}
	.act-gives{
		font-size: 14px !important;
		margin-left: 5px !important;
		padding: 2px;
		background-color: #E41F2B;
	}
	.act-gives+em{
		font-size: 16px !important;
	}
	.meal-compute-class{
		width: 100%;
	}
	.act-time{
		font-size: 18px;
	}
}
@media (min-width: 740px) and (max-width: 768px) {
	.meal-compute {
	    margin-left: 10px;
	    margin-right: 10px;
	    width: 97%;
	}
	
}
@media (max-width: 600px ) {
	.act-ticket-mb>img{
		width: 91%;
	}
}
@media (max-width: 720px){}
@media (max-width: 480px){
	
}
@media (max-width: 360px){
	.free-menu-item{
		font-size: 14px;
	}
}
.act-selected-mb{
	color: #E41F2B !important;
	background: url(../images/selected.png) no-repeat center;
	background-position: bottom right;
	background-color: #FFFFFF !important;
}
.act-selected-mb>p{
	color: #E41F2B !important;
}
.act-selected-mb>p>em{
	color: #FFFFFF !important;
}
.price-unit{
	color: #E41F2B !important;
}
.price-value{
	color: #E41F2B !important;
	position: relative;
    top: 2px;
}
.p1{
	color: #F79633;
}
.p2{
	color: #FFFFFF !important;;
	background-color: #F79633;
}
@media (min-width: 1024px) and (max-width: 1199px) {
	.act-node {
	    display: table-cell;
	    position: relative;
	    left: 13px;
	}
	.select-relative {
	    position: relative;
	    width: 110px;
	    left: 100px;
	    bottom: 23px;
	}
	.text-info>p {
	    padding-left: 14px;
	    padding-top: 10px;
	    padding-bottom: 6px;
	}
	.s1 {
	    position: absolute;
	    top: 40px;
	    left: 115px;
	}
	.s4 {
	    position: absolute;
	    top: 135px;
	    left: 5px;
	}
	.s3 {
	    position: absolute;
	    top: 243px;
	    left: 117px;
	}
	.s2 {
	    position: absolute;
	    top: 137px;
	    left: 217px;
	}
	.text-large{
		font-size: 16px;
	}
}
.modal-login,.modal-realName{
	height: 90px;
}

.em-red{
	color: #E41F2B;
}
.p-red{
	font-size: 14px;
	color: #E41F2B;
}
@media (min-width: 320px) and (max-width: 768px) {
	.act-btn-red{
		float: none !important;
	}
	.rule-body{
		position: relative;
	    padding: 0;
	    background-color: #fff;
	    padding-left: 30px;
	    padding-right: 30px;
	    margin-top: 15px;
	    margin-bottom: 15px;
	}
}
.act-know{
	margin-top: 0px !important;
}
.act-zhekou,.act-free{
	color: #E41F2B;
}




















